/*========== listes dans les colonnes ==========*/
.xo-canvas-column ul {
	list-style-type:				none;
	padding:							.5em;
	margin:							0px;
}
.xo-canvas-column ul ul {
	padding-top:					0em;
	padding-bottom:				0em;
	padding-left:					1em;

}
/* ====== format des cellules dans les colonnes ========*/
.xo-canvas-column .outer, .xo-canvas-column .outer td {
	background-color: 			inherit;
	border:							0px none;
	color: 							#806B4D;
	font-size:						.9em;
}
.xo-canvas-column .outer, .xo-canvas-column .outer img {
	border: 							0 !important;
	padding:							0;
	margin:							0;
}
/*===== Styles Colonne de Gauche =======*/
#xo-canvas-leftcolumn .xo-block {
	padding-top:					4px;
	margin-right:					11px;
	margin-bottom:					10px;
	width: 							170px;
}
#xo-canvas-leftcolumn .xo-blocktitle {
	font: 							bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: 				uppercase;
	color: 							#555;
	padding: 						10px 0px 5px 30px;
	background: 					url(img/square_arrow.gif) no-repeat 2px 12px;
	margin: 							0;
	text-transform: 				uppercase;	
}
#xo-canvas-leftcolumn .xo-blockcontent {
	min-height:						60px;
	padding:							2px 8px 0px;
}
* html #xo-canvas-leftcolumn .xo-blockcontent { height: 110px;}
#xo-canvas-leftcolumn .xo-blockcontent a {}
#xo-canvas-leftcolumn .xo-blockcontent a:hover {}
#xo-canvas-leftcolumn img {
	border: 							1px solid #ccc;
	padding: 						3px;
	margin: 							3px 3px 0 7px;
}
#xo-canvas-leftcolumn img:hover {border: 1px solid #EC981F;}
/*======== Styles Colonne de Droite ========*/
#xo-canvas-rightcolumn {
	border-left: 					1px solid #f2f2f2;
	width: 							170px;
}
#xo-canvas-rightcolumn a {}
#xo-canvas-rightcolumn a:hover {}
#xo-canvas-rightcolumn .xo-blocktitle {
	font: 							bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: 				uppercase;
	color: 							#555;
	padding: 						10px 0px 5px 30px;
	background: 					url(img/square_arrow.gif) no-repeat 2px 12px;
	margin: 							0;
	text-transform: 				uppercase;	
}	
#xo-canvas-rightcolumn .xo-blockcontent {
	padding:							.5em;
}
#xo-canvas-rightcolumn img {
	border: 							1px solid #ccc;
	padding: 						3px;
	margin: 							3px 3px 0 7px;
}
#xo-canvas-rightcolumn img:hover {border: 1px solid #EC981F;}
/* ======= Styles du "Contenu Centre" ===========*/
#xo-page .xo-blockszone > .xo-block {
	margin-top:						10px;
}
.xo-block ul {
	margin:							0px;
	padding:							0px;
	list-style-type:				none;
}
#xo-page .xo-blockszone .xo-blocktitle {
	font: 							bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: 				uppercase;
	color: 							#555;
	padding: 						5px 0px 5px 5px;
	margin: 							0;
	text-transform: 				uppercase;	
}
#xo-page .xo-blockszone .xo-blockcontent {
	padding:							.5em;
	color:							#666;
	text-align: 					justify;
	background-color: 			inherit;
}
#xo-page .xo-blockszone .xo-blockcontent img {
	border: 							1px solid #ccc !important;
	padding: 						3px;
	margin: 							3px 3px 0 7px;
}
#xo-page .xo-blockszone .xo-blockcontent img:hover {
	border: 							1px solid #EC981F !important;
	background-color: 			inherit;
}
#xo-page .xo-blockszone .xo-blockcontent a {}
#xo-page .xo-blockszone .xo-blockcontent a:hover {}



